.myOutput ul li{
    text-decoration: none;
    list-style: none;
    text-align: start!important;
}
.myOutput h2{
    letter-spacing: 8px;
    font-size: x-large;
    color: aqua;
    background-color: #262626;
    padding: 5px 5px;
    margin-bottom: 1em;
    border-radius: 5px;
    display: inline-block;
    /* text-shadow: black 3px 3px 2px; */
    /* background-color: aqua; */
}